

/* Estilo de la pagina Select Prices */

/* Estilo GRID */
.body-selectprices{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 50px  auto  50px;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";


        
        
        header{
            /* Estilo Header SelectPrices */
            display: flex;
            flex-direction: row;
            align-items: center;
            color: gray;
            font-size: 13px;
            background-color:white;
            grid-area: header ;

                    a{
                        width: 50;
                        margin-left: 2%;
                    }

                    img{
                        width: 50;
                    }

                    h2{
                        margin-left: 5%;
                    }
        }

        main{
            background-color:white;
            grid-area: main ;
        }

        footer{
            background-color: white;
            grid-area: footer;
        }
}




/* Main Selectprices */

 .main-selectprices{
    display: flex;
    flex-direction: column;
    justify-content: center;

            .form-search{
                display: flex;
                justify-content: center;
                margin-bottom: 15%;

                            input{
                                border-radius: 0.63rem;
                                border-style:solid;
                                padding: 10px  35px;
                                font-style: italic;
                            }
            }


            
}




/* Items de buscar */


.main-selectprices-items{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    flex-wrap:wrap;

}

.selectprices-item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 31%;
    margin: 1%;
    font-size: 10px;
}

.selectprices-item1-image{
    width: 40%;

    img{
        width: 100%;
        border-radius: 0.63rem;
        object-fit: cover;
    }
    
}



.selectprices-item-1-content{
    display: flex;
    flex-direction: column;
    margin-left: 1%;


    form{
        display: flex;
        flex-direction: column;

                select{
                    border-radius: 0.63rem;
                    border-style:solid;
                    padding: 3px  10px;
                    width: 100%;
                    margin-bottom: 3%;
                    font-size: 11px;
                    margin-top: 5%;
                }

                input[type=number]{
                    width: 30%;
                    padding: 2px;
                    border-radius: 0.63rem;
                    margin-bottom: 3%;
                    border-style:ridge;
                    font-size: 10px;
                }

                input[type=submit]{
                    width: 50%;
                    background-color: f39237;
                    color: white;
                    border-style: none;
                    padding: 4px;
                    border-radius: 0.63rem;
                    font-size: 10px;
                    cursor:pointer;
                }

                input[type=submit]:hover{
                    width: 50%;
                    background-color: white;
                    border-color: f39237;
                    color: f39237;
                    border-style:solid;
                    border-width: 1px;
                    padding: 4px;
                    border-radius: 0.63rem;
                    font-size: 10px;
                }
    }
}



.main-selectprices-btn{
    display: flex;
    justify-content: center;
    margin-top: 5%;

    input{
        background-color: f39237;
        color: white;
        border-style: none;
        padding: 12px;
        border-radius: 0.63rem;
        font-size: 25px;
        font-weight:400;
        width: fit-content;

            &:hover{
                color: f39237;
                background-color:white ;
                border-style:solid ;
                border-color: #f39237 ;
                cursor: pointer;
            }
    }
}



